<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Grade Sheet</title>
    <style>
        ul {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <ul>
        {% for subject, grade in context.items %}
        <li><strong>{{ subject }}: </strong> {{ grade }}</li>
        {% empty %}
        <li>No Subjects added yet: </li>
        {% endfor %}
    </ul>
    
</body>
</html>